
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#logo {
    width: 40px;
    height: auto;
}

#submitBtn {
    margin-top: 15px;
}

#chart {
    margin-top: 100px;
}














